<div ng-controller='PickCtrl'>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome {{user.name}}</h1>
      <h3>Lets Set your Values</h3>
      <p>We will start by orginzing our list of values into three diffent Categories. </p>
      <p>Please drag and drop each value into the category based on on the importance that value holds to you.</p>
      <p>Once you have fininshed please press the next button to continue.</p>
    </div>
      <div class="container">
        <div class="col-xs-4">
          <input class='btn btn-info btn-lg pull-right' type="button" ng-click='setList()' value="Next">
        </div>
      </div>
  </div>
  <div id="products"  >
    <h1 class="well sidebar-nav">List of Values</h1>
    <div id="catalog" class="nav">
        <ul style="list-style-type:none" data-drop="true" ng-model='list1' jqyoui-droppable="{multiple:true}">
          <div class="container">
          <li class='thumbnail' ng-repeat='item in list1' ng-show="item.title" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list1" jqyoui-draggable="{index: {{$index}}, animate: true }">{{item.title}}</li>
          </div>
        </ul>
    </div>
  </div>
  <div id="cart">
      <h1 class="ui-widget-header" >Very Important</h1>
      <div class="ui-widget-content">
          <ol data-drop="true" ng-model='list2' jqyoui-droppable="{multiple:true}">
              <li ng-repeat="item in list2 track by $index" ng-show="item.title" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list2" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</li>
              <li class="placeholder" ng-hide="hideMe2()">Add your Values here</li>
          </ol>
      </div>
  </div>
  <div id="cart">
      <h1 class="ui-widget-header">Kinda Important</h1>
      <div class="ui-widget-content">
          <ol data-drop="true" ng-model='list3' jqyoui-droppable="{multiple:true}">
              <li ng-repeat="item in list3 track by $index" ng-show="item.title" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list3" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</li>
              <li class="placeholder" ng-hide="hideMe3()">Add your Values here</li>
          </ol>
      </div>
  </div>
  <div id="cart">
      <h1 class="ui-widget-header">Not Important</h1>
      <div class="ui-widget-content">
          <ol data-drop="true" ng-model='list4' jqyoui-droppable="{multiple:true}">
              <li ng-repeat="item in list4 track by $index" ng-show="item.title" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list4" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</li>
              <li class="placeholder" ng-hide="hideMe4()">Add your Values here</li>
          </ol>
      </div>
  </div>
</div>
